<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cinntra.indo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name="com.cinntra.indo.globals.MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_indo_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_indo_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CinntraSales"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity
            android:name="com.cinntra.indo.activities.CalenderActivity"
            android:exported="false" />

        <activity
            android:name="com.cinntra.indo.activities.ParticularCustomerPaymentDueInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialFullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.CreditOneActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.CreditNoteParticularActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.ParticularBpCreditNoteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />

        <activity
            android:name="com.cinntra.indo.activities.SubGroupStockActivity"
            android:exported="false"
            android:screenOrientation="portrait"
           />


        <activity
            android:name="com.cinntra.indo.activities.SoldItemSubGroupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.cinntra.indo.activities.Sold_ItemBasesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
             />

        <activity
            android:name="com.cinntra.indo.activities.CategoryListFromZoneItemsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
             />
        <activity
            android:name="com.cinntra.indo.activities.CreditNoteDashboard"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.Sale_Group_Inovice_Reports"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialFullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.GoToMapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.TripAndExpenseDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.ShowCheckInImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.test.TestActivityForDeveloper"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.ItemPurchasedParticularCustomerInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.ItemPurchasedByListOfCustomersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.ItemDetailsDashboard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.ItemDashboardListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.ExpenseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.ActivityOrderOneDetails"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.PendingByOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.PendingOrderSubListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.SoldItemDetailsList"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.MainActivity_B2C"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.Splash"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cinntra.indo.activities.SearchActivity" />
        <activity
            android:name="com.cinntra.indo.activities.InvoiceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/invoice"
            android:screenOrientation="portrait" /> <!-- android:theme="@style/FullScreen" -->
        <activity
            android:name="com.cinntra.indo.activities.QuotationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/quotations"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.ExoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/quotations"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.DemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/quotations"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.MyMapLocation"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/maps"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.WebViewToPdf"
            android:exported="false" />

        <!-- android:theme="@style/FullScreen" -->
        <activity
            android:name="com.cinntra.indo.activities.OpportunitiesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_invoice"
            android:screenOrientation="portrait" /> <!-- android:theme="@style/FullScreen" -->
        <activity
            android:name="com.cinntra.indo.activities.OrderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/sales_order"
            android:screenOrientation="portrait" /> <!-- android:theme="@style/FullScreen" -->
        <activity
            android:name="com.cinntra.indo.activities.SignUp"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="New User"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.Sale_Inovice_Reports"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialFullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.Reports"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialFullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" /> <!-- android:theme="@style/MaterialFullScreen" -->
        <activity
            android:name="com.cinntra.indo.activities.ReceiptTransactionFullInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.InvoiceTransactionFullInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.PendingOrders"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.ParticularCustomerInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialFullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.ParticularCustomerReceivableInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialFullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.ParticularCustomerReceiptInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialFullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.ParticularCustomerSaleInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialFullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.SqlSetting"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.Login"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.Notifications"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.DeliveryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.InvoiceItemList"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.InventoryActivity"
            android:label="@string/inventory"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" /> <!--  -->
        <activity
            android:name="com.cinntra.indo.globals.MainBaseActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.LedgerReports"
            android:label="@string/ledger"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.LeadsActivity"
            android:label="@string/leads"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.CampaignActivity"
            android:label="@string/campaign"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.CreateContact"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.AddQuotationAct"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.AddOrderAct"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.AddBPCustomer"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.AddOpportunityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.AddLead"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.AddCampaign"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.BussinessPartners"
            android:label="@string/customer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cinntra.indo.activities.ItemsList"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.OwnerList"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.SelectedItems"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.CustomersWiseLedger"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.LedgerCutomerDetails"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen">

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />

                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.cinntra.indo.activities.CustomerDetailsLeger"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/customers"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.CashDiscount"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.InvoicesListReceiptBasis"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.cinntra.indo.activities.AddContact"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" /> <!-- Receivers -->
        <receiver
            android:name="com.cinntra.indo.receivers.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.cinntra.indo.activities.MapsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.LocationListing"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/location"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cinntra.indo.activities.Opportunities_Pipeline_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_invoice"
            android:screenOrientation="portrait" />

        <receiver android:name="com.cinntra.indo.receivers.NotificationPublisher" />
        <!--
 <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cinntra.indo.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <service android:name="com.cinntra.indo.services.GoogleService" />
        <service
            android:name="com.cinntra.indo.FirebaseMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>